:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #ffafcc;
  --secondary-color: #ff47da;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

@font-face {
  font-family: "Abel";
  src: url(https://coolors.co/font/abel);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
  box-shadow: 2px 3px 2px whitesmoke;
}

.black {
  color: var(--primary-color);
}

.fire {
  color: white;
}

nav {
  background: rgb(17, 17, 17);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 5px 2px #d3d2d2ad;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  gap: 25px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .landing {
    flex-direction: row;
  }

  .the-intro {
    width: 50%;
  }
  .i-frame {
    width: 50%;
  }
  .about {
    height: auto;
  }

  .about-container {
    flex-direction: row;
  }

  .card-container {
    margin: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .about-container {
    max-width: 100%;
  }
}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1100px;
  margin: 2rem auto -6rem;
}

.the-intro h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.the-intro p {
  line-height: var(--line-height);
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
}

.first {
  color: black;
}

.second {
  color: var(--secondary-color);
}

video {
  max-width: 27rem;
}

/*ABOUT SECTION*/

.about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
  gap: 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.card-container {
  position: relative;
  width: 260px;
  height: 350px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px;
  transition: 0.5s;
}

.card-container .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.card-container .box .content {
  padding: 20px;
  text-align: center;
}

.card-container .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.card-container .box .content h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.card-container .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.card-container .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.card-container .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/*OUTER*/

.outer {
  position: relative;
  border-radius: 30px;
}

.outer h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}
